#cart-container{
    display: flex;
    flex-wrap: wrap;
}

.cart-item{
    max-width: 300px;
    min-width:200px;
    margin: 5px;
}

.total-price-value{
    display: flex;
    flex-direction: row;
}
